<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4" *ngIf="items.length > 0 ; else noItems">
    <a routerLink="/">Continue Shopping</a>
      <div  class="jumbotron" *ngFor="let item of items; let i = index">
          <img [src]="item.url" alt="" width="150" height="100">
          <a [routerLink]="['/item',i]"> {{item.desc }}</a>
          <p>{{item.name}}</p>
          <h2>{{item.price}}</h2>
      </div>
        <h2> Checkout Amount : {{cost | currency}}</h2>
      <a routerLink="/">Continue Shopping</a>
  </div>
  <ng-template #noItems>
    <h5>No Items in Cart!!</h5>
    <a routerLink="/">Continue Shopping</a>
  </ng-template>
  <div class="col-md-4">

  </div>
</div>
