.container{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 5, 179, 0.5);
  z-index: 2;
}
.jumbotron{
  margin-top: 20%;
  width:400px;
  height: 300px;
  margin-left:35%;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  background-image: url('https://i.pinimg.com/originals/4b/de/70/4bde70b4e8b1fb89b4bcbc59348ae460.gif');
  background-repeat: no-repeat;
}
.spinner{
  /* width: 250px;
  height: 250px; */
  /* border: 20px dotted rgba(16, 5, 179, 0.5);;
  border-radius: 50%;
  margin-left: 25%;
  animation: loading 2s infinite; */

}
@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
